<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="ColunaNomeArquivoRelatorio" value="ID"/>
    <add key="FormatoNomeArquivoRelatorio" value="id_{0}.xls"/>
    <add key="Mapeamentos" value="
       [
       {PropriedadeOgirem: 'Endereço', CelulaDestino: '3D', Tipo: 'Texto'},
       {PropriedadeOgirem: 'Bairro', CelulaDestino: '4B', Tipo: 'Texto'},
       {PropriedadeOgirem: 'Município', CelulaDestino: '4J', Tipo: 'Texto'},  
       {PropriedadeOgirem: 'GRID', CelulaDestino: '5B', Tipo: 'Texto'},    
       {PropriedadeOgirem: 'Data', CelulaDestino: '5I', Tipo: 'Data_MES_EXTENSO'},    
       {PropriedadeOgirem: 'Data', CelulaDestino: '5L', Tipo: 'Data_DIA'},    
       {PropriedadeOgirem: 'Data', CelulaDestino: '5N', Tipo: 'Data_ANO'},   
       {PropriedadeOgirem: 'Operador', CelulaDestino: '6J', Tipo: 'Texto'},     
       {PropriedadeOgirem: 'Norte', CelulaDestino: '10K', Tipo: 'Texto'},   
       {PropriedadeOgirem: 'Leste', CelulaDestino: '10M', Tipo: 'Texto'},   
       
       {PropriedadeOgirem: 'Latitude (Decimal)', CelulaDestino: '12K', Tipo: 'Texto'},  
       
       {PropriedadeOgirem: 'Horário', CelulaDestino: '10B', Tipo: 'Texto'},  
       
       {PropriedadeOgirem: 'Data', CelulaDestino: '12B', Tipo: 'Data_Dia_Numero_E_Mes_Extenso_3_Letras_Minusculas'},  
         
       {PropriedadeOgirem: 'Foto I', CelulaDestino: '19A', Tipo: 'Imagem'},
       {PropriedadeOgirem: 'Foto II', CelulaDestino: '19H', Tipo: 'Imagem'},
       {PropriedadeOgirem: 'Foto III', CelulaDestino: '32A', Tipo: 'Imagem'},
       {PropriedadeOgirem: 'Foto IV', CelulaDestino: '32H', Tipo: 'Imagem'}
       ]
    "/>
    <add key="AlturaImagem" value="681"/>
    <add key="LarguraImagem" value="477"/>
  </appSettings>
</configuration>